.button {
  display: inline-flex;
  padding: 22px 30px;

  font-family: $ff-base;
  color: $color-base-dark;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  background-color: transparent;
  border: 2px solid $color-base-dark;
  cursor: pointer;
  user-select: none;

  transition: all $trans-default;

  &--light {
    color: $color-default-white;

    border: 4px solid $color-default-white;
  }

  &:disabled {
    opacity: 0.4;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.6;
  }
}
