.logo {
  font-family: $ff-additional;
  color: #ffffff;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  @include vp-1199 {
    font-size: 24px;
  }

  @include vp-767 {
    font-size: 20px;
  }
}
