.promo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include vp-767 {
    display: block;
  }
}

.promo__info {
  position: relative;
  right: -3px;
  align-self: flex-end;
  width: 41%;
  margin-right: 7%;
  margin-bottom: 45px;
  text-align: right;

  @include vp-1199 {
    width: 48%;
    margin-right: 4%;
    margin-bottom: 25px;
  }

  @include vp-767 {
    width: 100%;
  }
}

.promo__image {
  width: 52%;
  padding-bottom: 57.72%;
  background-image: url("../img/background/superman.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @supports not (background-image: url("../img/background/superman.webp")) {
    background-image: url("../img/background/superman.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/superman@2x.jpg");
    }
  }

  @supports (background-image: url("../img/background/superman.webp")) {
    background-image: url("../img/background/superman.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/superman@2x.webp");
    }
  }

  @include vp-1199 {
    width: 48%;
    padding-bottom: 57.8%;
  }

  @include vp-767 {
    display: none;
    background-image: none;
  }
}

.promo__city {
  margin-bottom: 17px;
  padding-right: 54px;
  font-family: $ff-additional;
  font-size: 39px;
  font-weight: 600;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @include vp-1199 {
    margin-bottom: 8px;
    padding-right: 10px;
    font-size: 28px;
  }

  @include vp-767 {
    margin-bottom: 15px;
    padding-right: 7px;
    font-size: 23px;
  }
}

.promo__fitness-center {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 49px;

  @include vp-1199 {
    margin-bottom: 35px;
    padding-right: 6px;
  }

  @include vp-767 {
    margin-bottom: 24px;
    padding-right: 4px;
  }
}

.promo__title {
  order: 2;
  width: 260px;
  max-width: 260px;
  margin-top: 0;
  word-break: break-word;

  @include vp-1199 {
    width: 190px;
    max-width: 190px;
    letter-spacing: 0.03em;
    text-transform: none;
  }

  @include vp-767 {
    width: 187px;
    max-width: 187px;
  }
}

.promo__description {
  order: 1;
  position: relative;
  right: 5px;
  margin: 0;
  padding-bottom: 32px;
  padding-left: 0;
  font-size: 14px;
  list-style-type: none;

  @include vp-1199 {
    right: 21px;
    padding-bottom: 18px;
  }

  @include vp-767 {
    right: 0;
    margin-right: -9px;
    margin-left: -5px;
    padding-bottom: 30px;
  }
}

.promo__description-item {
  margin-bottom: 4px;
}

.promo__button {
  padding: 21px 55px 18px;

  @include vp-1199 {
    margin-right: 3px;
    padding: 20px 31px;
  }

  @include vp-767 {
    display: block;
    width: 100%;
    margin-left: -3px;
    text-align: center;
  }
}
