.subscription {
  padding: 120px 40px;
  background-color: $color-base-grey;
  background-repeat: no-repeat;

  @include vp-1199 {
    padding: 100px 45px;
  }

  @include vp-767 {
    padding: 70px 15px;
  }
}

.subscription__wrapper {
  position: relative;

  &::after {
    position: absolute;
    right: -290px;
    bottom: -270px;
    z-index: 0;
    width: 473px;
    height: 495px;
    content: "";
    background-repeat: no-repeat;
    background-size: contain;

    @supports not (background-image: url("../img/background/subscription-bg.webp")) {
      background-image: url("../img/background/subscription-bg.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background/subscription-bg@2x.png");
      }
    }

    @supports (background-image: url("../img/background/subscription-bg.webp")) {
      background-image: url("../img/background/subscription-bg.webp");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background/subscription-bg@2x.webp");
      }
    }
  }

  @include vp-1199 {
    &::after {
      right: -120px;
      bottom: -224px;
      width: 425px;
      height: 445px;
    }
  }

  @include vp-767 {
    &::after {
      background-image: none;
    }
  }
}

.subscription__title {
  margin-top: 0;
  margin-bottom: 5px;
  text-align: center;

  @include vp-767 {
    margin-bottom: 15px;
  }
}

.subscription__tabs {
  position: relative;
  z-index: 1;
}
